{{ $data := dict }}
{{ with .Page.Resources.Get "artists.csv" }}
    {{ with . | transform.Unmarshal }}
        {{ $data = . }}
    {{ end }}
{{ end }}
<link rel="stylesheet" href="/css/artist-grid.css" />
<div id="artist-grid">
{{ range $i, $r := $data }}
    {{ $artist := index $r 0 }}
    {{ $artist_encoded := replace $artist " " "+"}}
    {{ $url := index $r 1 }}
    <div class="artist-grid-entry">
        <a href="https://www.last.fm/music/{{ $artist_encoded }}" title="View '{{ $artist }}' on LastFM" target="_blank">
            <img src="{{ $url }}" alt="{{ $artist }}" />
            <span>{{ $artist }}</span>
        </a>
    </div>
{{ end }}
</div>